.ssk-color-0{padding: 0 !important;}
.ssk-color-1{padding: 0 !important;}
.ssk-color-2{padding: 0 !important;}
.ssk-color-3{padding: 0 !important;}
.ssk-color-4{padding: 0 !important;}
.ssk-color-5{padding: 0 !important;}
.ssk-color-6{padding: 0 !important;}
.ssk-color-7{padding: 0 !important;}
.ssk-color-8{padding: 0 !important;}
.ssk-color-9{padding: 0 !important;}

.ssk-mycroft-icon
{
	margin: 0 3px 0 3px !important;

	cursor: pointer !important;

	border: 1px solid transparent !important;
}

.ssk-mycroft-icon:hover
{
	border: 1px solid !important;
	border-radius: 2px !important;
}
