.ssk-popup-button
{
	position: absolute !important;
	z-index: 2147483647 !important;

	width: 24px !important;
	height: 24px !important;

	-webkit-transition: 0.1s !important;
	   -moz-transition: 0.1s !important;
	        transition: 0.1s !important;
	pointer-events: auto !important;

	opacity: 0.5 !important;
	border: 0 solid black !important;
	border-radius: 12px 12px 12px 12px !important;
}

.ssk-popup-button:hover
{
	opacity: 1.0 !important;
}

.ssk-popup-button-img
{
	-webkit-filter: none  !important;
	        filter: none  !important;
}
